html {
    background: linear-gradient(180deg, rgba(2,8,23,1) 31%, rgba(42, 94, 146));
    min-height: 100%;
}
html, p, button {
    font-family: 'Silkscreen', sans-serif;
}

body {
    text-align: center;
    overflow: hidden;
}

#main-content {
    max-width: 900px;
    margin: auto;
}

h1 {
    font-weight: 700;
    font-size: 55px;
    max-width: 600px;
    margin: 80px auto 20px;
    color: #EE8F98;
    text-shadow: 2px 2px 0px #fff;
}

h2 {
    font-size: 28px;
    text-align: center;
}

p.intro-text {
    color: #fff;
    font-size: 23px;
    margin-bottom: 30px;
}

button {
    background-color: transparent;
    padding: 15px;
    font-size: 15px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: all .3s ease;
    color: #fff;
    box-shadow: 0px 0px 25px #000;
}

button:hover, #close:hover {
    box-shadow: 3px 3px 0px #000;
    transition: all .3s ease;
    margin-top: -3px;
    margin-left: -3px;
}

#prompt-container {
    max-width: 550px;
    padding: 70px 20px 30px;
    margin: 30px auto;
    display: none;
    position: relative;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 0px 30px #000;
    text-align: left;
}

.top-bar {
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(100% - 14px);
    height: 38px;
    border: 1px solid #fff;
}

.top-bar p {
    padding-left: 12px;
    margin-top: 13px;
    font-size: 12px;
}

#close {
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 5px;
    border: 1px solid #fff;
    width: 26px;
    height: 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    transition: all .3s ease;
}

hr {
    max-width: 35px;
    height: 3px;
    background-color: #EE8F98;
    border: none;
}

.pixel-sparkle {
    background: transparent;
    height: 1px;
    width: 1px;
    color: white;
    box-shadow: 
        5px 0,
        3px 1px,
        1px 3px, 3px 3px, 5px 3px,
        3px 5px;
    transform: scale(3);
    position: absolute;top: -10%;

}

@keyframes sparkle {
    0% {box-shadow: 
        5px 0,
        3px 1px,
        1px 3px, 3px 3px, 5px 3px,
        3px 5px,
        1px 6px transparent;
    }
    65% {box-shadow: 
        5px 0 transparent,
        3px 1px,
        1px 3px, 3px 3px, 5px 3px,
        3px 5px,
        1px 6px transparent;
    }
    70% {box-shadow: 
        5px 0 transparent,
        3px 1px,
        1px 3px, 3px 3px, 5px 3px,
        3px 5px,
        1px 6px;
    }
    100% {box-shadow: 
        5px 0 transparent,
        3px 1px,
        1px 3px, 3px 3px, 5px 3px,
        3px 5px,
        1px 6px transparent;
    }
}

@keyframes move {
    from {top: -20px;}
    to {top: calc(100% + 20px);}
}

/* positioning sparkles */
/* .header {
    position: relative;
} */
.sparkle-1 {
    /* top: 40px; */
    left: 15%;
    animation: sparkle 1.5s infinite, move 19s infinite linear;
    transform: rotate(270deg) scale(2) translateZ(0);
}
.sparkle-2 {
    /* top: 20px; */
    right: 15%;
    animation: sparkle 2s infinite, move 12s infinite linear;
    transform: translateZ(0) scale (3);
}
.sparkle-3 {
    /* bottom: 20px; */
    left: 25%;
    animation: sparkle 3s infinite, move 9s infinite linear;
    transform: rotate(90deg) scale(3) translateZ(0);
}